@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
p{
    font-size: 18px;
    text-align: justify;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 50px;
}

.name{
    color: #F39139;
}

section{
    display: flex;
    margin-bottom: 150px;
}
.hero{
   
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    margin-top: 50px;
}

.half-width img{
    width: 90%;
}

.btn{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    background-image: linear-gradient(#E7AF72 , #E87A06);
    padding: 10px 40px;
    color: white;
    border: 5px;
    border-radius: 10px;
   line-height: 70px;
   letter-spacing: 7px;
   
}

.developer{
    color: #FFB200;
}

.half{
    align-self: center;
}

.halfs p{
    width: 85%;
}

.hero-2{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}